extends result
block scripts
block result
  if aList != null
    table#ele_table.col-md-12.type08
      thead
        tr
          th Asset
          th Total
      tbody
      -for(var i in aList){
        tr
          td #{i}
          td #{aList[i]}
      -}

