extends layout
block content
    div(id='page-wrapper')
        div(id='inner')
            div(class='row')
                div(class='col-md-12')
                    h2 Recommend Security Requirements about APT
                    div
                        ul(class='nav nav-tabs')
                            li
                                a(href='/results/apt') Similar Case
                            li
                                a(href='/results/risk') Risk Assessment(구현된거 없음)
                            li
                                a(href='/results/recommend') Security Requirement Template(구현된거 없음)
                    block results
